body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#hero {
    width: 800px;
    margin: 20px auto;
}

.section-img{
    height: 80%;
    width: 80%;
}

.section-1{
    width: 80%;
    align-items: center;
    margin: auto;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 56px;
    font-weight: normal;    
}

h1 span {
    font-weight: bold;
}

span, a {
    color: #EE24FF;
}

p {
    color: #828282;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
}

strong{
   color: 3F3D56;
}

#footer a {
    margin-left: 28px;
    text-decoration: none;
    color: #7D7987;
    font-weight: bold;
    font-size: 20px;
}

#footer {
    margin-bottom: 40px;
}

.line {
    width: 568px;
    height: 0;
    border: 1px solid #ECEFF2;
    margin: 20px auto 10px;
}
